Options +FollowSymLinks
RewriteEngine on

Options All -Indexes
IndexIgnore *
LimitRequestBody 1024000
ErrorDocument 400 /index.php?a=result&v=400
ErrorDocument 401 /index.php?a=result&v=access
ErrorDocument 402 /index.php?a=result&v=402
ErrorDocument 403 /index.php?a=result&v=403
ErrorDocument 404 /index.php?a=result&v=404
ErrorDocument 408 /index.php?a=result&v=408
ErrorDocument 500 /index.php?a=result&v=500

<ifmodule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
